.container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  height: var(--hh);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  z-index: 1;

  background-color: white;
}

.container .logo {
  display: block;
  width: 8rem;
  height: 4rem;
  background-image: url("/icons/mi-maestro.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .navigation {
  width: 100%;
  height: calc(100vh - var(--hh));

  position: absolute;
  top: var(--hh);
  left: -100%;

  transition: left 0.35s;

  background-color: white;
}

.container .navigation .listLinks {
  height: 100%;

  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
}

.container .navigation .listLinks .itemLink {
  display: flex;
  justify-content: center;
}

.container .navigation .listLinks .itemLink .link {
  text-decoration: none;
  color: var(--c1);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  transition: text-shadow, transform 0.35s;
}

.container .navigation .listLinks .itemLink .link:hover {
  text-shadow: 0 0 10px #fe633d;
  transform: scale(1.1);
}

.container .navigation .listLinks .itemLink .linkFacebook {
  font-size: 24px;
  text-decoration: none;
  color: var(--c1);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #747c86;
  border-radius: 3px;

  padding: 10px 20px;

  transition: box-shadow 0.35s, border 0.35s;
}

.container .navigation .listLinks .itemLink .linkFacebook:hover {
  border: 1px solid #039be5;
  box-shadow: 0 0 0 6px #039be5;
}

.container .navigation .listLinks .itemLink .linkWhatsApp {
  font-size: 24px;
  text-decoration: none;
  color: var(--c1);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #747c86;
  border-radius: 3px;

  padding: 10px 20px;

  transition: box-shadow 0.35s, border 0.35s;
}

.container .navigation .listLinks .itemLink .linkWhatsApp:hover {
  border: 1px solid #27d045;
  box-shadow: 0 0 0 6px #27d045;
}

.container .bars {
  width: 3rem;
  height: 3rem;
  background-image: url("/icons/bars-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .solicitarServicio {
  display: none;
}

@media (min-width: 992px) {
  .container .navigation {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .container .navigation .listLinks {
    flex-direction: row;
  }

  .container .navigation .listLinks .itemLink {
    margin-right: 2rem;
  }

  .container .navigation .listLinks .itemLink:last-child {
    margin-right: 0;
  }

  .container .navigation .listLinks .itemLink .linkFacebook {
    display: none;
  }

  .container .navigation .listLinks .itemLink .linkWhatsApp {
    display: none;
  }

  .container .bars {
    display: none;
  }

  .container .solicitarServicio {
    display: block;
    color: var(--c1);
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #fe633d;
    padding: 10px 20px;
    transition: box-shadow 0.35s;
    text-decoration: none;
    font-weight: bolder;
  }

  .container .solicitarServicio:hover {
    box-shadow: 0 0 0 6px #fe633d;
  }
}
